extends layout

block content
    h1 Welcom to botashew's Twitter-clone
    form(action="/user/login", method="POST") 
        input(type="text", name="name" placeholder="Name")
        input(type="email", name="email" placeholder="Email")
        input(type="password" name="password" placeholder="Create password")
        input(type="submit" value="Login")
    each tweet in tweets
        p user: #{tweet.byUser[0].name}
        p #{tweet.tweet}
    //- pre #{JSON.stringify(tweets, null, 2)}